<form class="login-form m-3">
  <div class="mb-3">
    <label for="username-login" class="form-label">Username</label>
    <input type="test" class="form-control" id="username-login" />
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a class="nav-link" href="/signup">Signup</a>
</form>

<script src="/js/login.js"></script>